language: php

php:
  - 7.4
  - 8.0

env:
  - SYMFONY_VERSION="^4.4"
  - SYMFONY_VERSION="^5.1"

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libxml2-dev

before_script:
    - curl -s http://getcomposer.org/installer | php
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require symfony/symfony:${SYMFONY_VERSION} --no-update; fi
    - php composer.phar install

script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text
  - vendor/bin/php-cs-fixer fix --dry-run
